[submodule "vendor/client"]
	path = vendor/client
	url = https://github.com/Fancy-Mumble/FancyMumble.git
	branch = new-ui-implementation
[submodule "vendor/server"]
	path = vendor/server
	url = https://github.com/Fancy-Mumble/mumble-server.git
	branch = pr-4-audit
[submodule "vendor/docker"]
	path = vendor/docker
	url = https://github.com/Fancy-Mumble/mumble-docker.git
	branch = master
[submodule "vendor/starling"]
	path = vendor/starling
	url = https://github.com/Fancy-Mumble/starling.git
	branch = feat/gateway-services
[submodule "vendor/channelviewer"]
	path = vendor/channelviewer
	url = https://github.com/SetZero/channelviewer.git
	branch = feat/starling-source
[submodule "vendor/mumble-admin-frontend"]
	path = vendor/mumble-admin-frontend
	url = https://github.com/SetZero/mumble-admin-frontend.git
	branch = master
[submodule "vendor/wren"]
	path = vendor/wren
	url = https://github.com/Fancy-Mumble/wren.git
	branch = main
