[submodule "vendor/client"]
	path = vendor/client
	url = https://github.com/Fancy-Mumble/FancyMumble.git
	branch = new-ui-implementation
[submodule "vendor/server"]
	path = vendor/server
	url = https://github.com/Fancy-Mumble/mumble-server.git
	branch = pr-4-audit
[submodule "vendor/docker"]
	path = vendor/docker
	url = https://github.com/Fancy-Mumble/mumble-docker.git
	branch = master
[submodule "vendor/starling"]
	path = vendor/starling
	url = https://github.com/Fancy-Mumble/starling.git
	branch = feat/channel-listeners
[submodule "vendor/channelviewer"]
	path = vendor/channelviewer
	url = https://github.com/SetZero/channelviewer.git
	branch = wip/starling-source-and-keycloak-auth
[submodule "vendor/mumble-admin-frontend"]
	path = vendor/mumble-admin-frontend
	url = https://github.com/SetZero/mumble-admin-frontend.git
	branch = master
[submodule "vendor/wren"]
	path = vendor/wren
	url = https://github.com/Fancy-Mumble/wren.git
	branch = main
[submodule "vendor/channelviewer-frontend"]
	path = vendor/channelviewer-frontend
	url = https://github.com/SetZero/channelviewer-frontend.git
	branch = master
[submodule "vendor/mumble-user-manager-backend"]
	path = vendor/mumble-user-manager-backend
	url = https://github.com/SetZero/mumble-user-manager-backend.git
	branch = feat/starling-operator-api
