[submodule "vendor/client"]
	path = vendor/client
	url = https://github.com/Fancy-Mumble/FancyMumble.git
	branch = feature/e2e-testability
[submodule "vendor/server"]
	path = vendor/server
	url = https://github.com/Fancy-Mumble/mumble-server.git
	branch = 1.6.x
[submodule "vendor/docker"]
	path = vendor/docker
	url = https://github.com/Fancy-Mumble/mumble-docker.git
	branch = master
